* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/redes1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}
/* Estilo de cabecera */
header {
  background-color:none;
  padding: 30px;
  margin:20px;
  text-align: center;
  font-size: 60px;
  color:black;
}
nav { 
  display:block;
  width: 100%;
  background-color:black;
  padding: 15px;
  font-size:20px;
}
nav:hover{
  background:rosybrown;
}
/* Estilo de la lista dentro del menu */
ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: scroll;
  background-color:black;
}
li {
  float: inline-start;
}
li a {
  display: flex;
  color:grey;
  padding: 20px 20px;
  text-decoration: none;
}
li a:hover {
  background-color:white;
  color: black;
}
article {
  float: left;
  padding: 20px;
  width: 90%;
  background-color: #f1f1f1;
 }
/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the footer */
footer {
  background-color:grey;
  padding: 0;
  text-align: center;
  color: lightblue;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 900px) {
    body {
    width: 100%;
    max-width: 100%;  
    height: auto;
  } 
}
